<template>
  <div class="container-homepage">
    <div class="tab-content" id="myTabContent">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="Elite-tab" data-toggle="tab" href="#Elite" role="tab" aria-controls="Elite" aria-selected="true">Elite Analysis & signals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="trading-tab" data-toggle="tab" href="#trading" role="tab" aria-controls="trading" aria-selected="false">Trading system Plus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="robo-tab" data-toggle="tab" href="#robo" role="tab" aria-controls="robo" aria-selected="false">Roboadvisor Plus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="MandA-tab" data-toggle="tab" href="#MandA" role="tab" aria-controls="MandA" aria-selected="false">M&A Plus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="Data-tab" data-toggle="tab" href="#Data" role="tab" aria-controls="Data" aria-selected="false">Data feed Plus</a>
        </li>
      </ul>
      <div class="tab-pane fade show active" id="Elite" role="tabpanel" aria-labelledby="Elite-tab">
        <Elite />
      </div>
      <div class="tab-pane fade" id="trading" role="tabpanel" aria-labelledby="trading-tab">
        <Trading />
      </div>
      <div class="tab-pane fade" id="robo" role="tabpanel" aria-labelledby="robo-tab">
        <Roboadvisor />
      </div>
      <div class="tab-pane fade" id="MandA" role="tabpanel" aria-labelledby="MandA-tab">
        <MandA />
      </div>
      <div class="tab-pane fade" id="Data" role="tabpanel" aria-labelledby="Data-tab">
        <Data />
      </div>
    </div>
  </div>
</template>

<script>
import Elite from '../../item/elite/Elite'
import Trading from '../../item/trading/Trading'
import Roboadvisor from '../../item/roboadvisor/Roboadvisor'
import MandA from '../../item/m&a/M&A'
import Data from '../../item/data/Data'

export default {
  name: 'HomePage',
  components: {
    Elite,
    Trading,
    Roboadvisor,
    MandA,
    Data
  }
}
</script>
