<template>
    <div>
        <div class="container-fluid section-control">
            <div class="row first-section">
                <div class="col-md-8 left-section">
                    <p>We work with artificial intelligence. <br>
                        You should work with <br>
                        our roboadvisor. Our time matters.</p>
                </div>
                <div class="col-md-4 right-section">
                    <img src="../../../public/images/cloud.png" alt="">
                </div>
            </div>
        </div>
        <div class="container-fluid big-second-row">
            <div class="container second-row">
                <div class="row">
                    <div class="col-md-12 title-holder">
                        <h1>Caratteristiche</h1>
                    </div>
                    <div class="col-md-4 box-content" v-for="(td, index) in tradingData.features" :key="index">
                        <img :src="'../../images/' + td.img" alt="maze">
                        <h1>{{td.title}}</h1>
                    </div>
                </div>
            </div>
            <div class="row third-row">
                <div class="title-holder second-title col-md-12">
                    <h1>Prodotti</h1>
                </div>
                <div class="col-md-4 product-box" v-for="(td, index) in tradingData.products" :key="index">
                    <i class="fas fa-check"></i>
                    <h1>{{td.title}}</h1>
                    <p v-html="td.description">{{td.description}}</p>
                </div>
            </div>
            <div class="container fourth-row">
                <div class="row fourth-section">
                    <div class="title-holder remove-after col-md-12">
                        <h1>Scegli il piano più adatto a te</h1>
                    </div>
                    <div class="col-md-4 first-one">
                        <div class="prices-select">
                            <h1>Elite Analysis <br>
                                e Trading System
                            </h1>
                            <hr>
                            <p>&euro; 149 <span>al mese</span></p>
                            <button>Passa a premium</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <Price />
                    </div>
                    <div class="col-md-4 last-one">
                        <div class="prices-select">
                            <h1>Instituzionale</h1>
                            <hr>
                            <p>Su richiesta</p>
                            <button>Passa a premium</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Price from '../price/price'
import tradingdata from '../../mock-data/data.json'
export default {
  name: 'Data',
  components: {
    Price
  },
  data () {
    return {
      tradingData: {
        features: []
      }
    }
  },
  mounted () {
    this.tradingData = tradingdata
  }
}
</script>
