<template>
    <div class="bottomNav-container container-fluid">
        <div class="row">
            <div class="col-md-2 sections">
                <div class="content">
                    <span>SMI PR</span>
                    <span>9477.2</span>
                    <span class="danger-err"><i class="fas fa-long-arrow-alt-down"></i>0.514%</span>
                    <span class="danger-err">-48.84</span>
                </div>
            </div>
            <div class="col-md-2 sections">
                <div class="content">
                    <span>S&P Midcap 400</span>
                    <span>9477.2</span>
                    <span class="success-err"><i class="fas fa-long-arrow-alt-down"></i>0.514%</span>
                    <span class="success-err">-48.84</span>
                </div>
            </div>
            <div class="col-md-2 sections">
                <div class="content">
                    <span>NSE 30 INDEX</span>
                    <span>9477.2</span>
                    <span class="success-err"><i class="fas fa-long-arrow-alt-down"></i>0.514%</span>
                    <span class="success-err">-48.84</span>
                </div>
            </div>
            <div class="col-md-2 sections">
                <div class="content">
                    <span>SMI PR</span>
                    <span>9477.2</span>
                    <span class="danger-err"><i class="fas fa-long-arrow-alt-down"></i>0.514%</span>
                    <span class="danger-err">-48.84</span>
                </div>
            </div>
            <div class="col-md-2 sections">
                <div class="content">
                    <span>SMI PR</span>
                    <span>9477.2</span>
                    <span class="danger-err"><i class="fas fa-long-arrow-alt-down"></i>0.514%</span>
                    <span class="danger-err">-48.84</span>
                </div>
            </div>
             <div class="col-md-2 sections">
                <div class="content">
                    <span>NSE 30 INDEX</span>
                    <span>9477.2</span>
                    <span class="success-err"><i class="fas fa-long-arrow-alt-down"></i>0.514%</span>
                    <span class="success-err">-48.84</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'BottomNav'
}
</script>
