.bottomNav-container{
    font-family: 'Nunito Sans', sans-serif;
    .sections{
        border-right: 1px solid $grey-border;
        margin: 5px 0;
        &:last-child{
            border: none;
        }
        .content{
            span{
                font-size: 12px;
                width: 50%;
                display: inline-block;
                overflow: hidden;
                &:nth-child(2), &:nth-child(4){
                    text-align: right;
                }
                &:nth-child(1), &:nth-child(2){
                    font-weight: 500;
                }
            }
            .danger-err{
                color: $danger;
            }
            .success-err{
                color: $success;
            }
        }
    }
}