.container-homepage{
    font-family: 'PT Sans', sans-serif;
    #myTabContent{
        position: relative;
        .nav-tabs{
            border: none;
            position: absolute;
            top: 20px;
            left: 0;
            right: 0;
            margin: 0 auto;
            padding: 0px 45px;
            .nav-item{
                margin-right: 100px;
                &:last-child{
                    margin-right: 0;
                }
                .nav-link{
                    font-size: 18px;
                    font-weight: 500;
                    position: relative;
                    color: $white;
                    width: 100%;
                    transition: 0.5s ease-in-out;
                    &:hover{
                        border: none;
                        transition: 0.5s ease-in-out;
                        &:after {
                            content: '';
                            width: 100%;
                            position: absolute;
                            left: 0;
                            bottom: 1px;
                            border-width: 0 0 1px;
                            border-style: solid;
                        }
                    }
                }
                .active{
                    border: none;
                    background: transparent;
                    position: relative;
                    &:after {
                        content: '';
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: 1px;
                        border-width: 0 0 1px;
                        border-style: solid;
                    }
                }
            }
        }
        #Elite{
            .section-control{
                background-color: $blue-bg;
            }
        }
        #trading{
            .section-control{
                background-color: $check-bg;
            }
        }
        #robo{
            .section-control{
                background-color: $blue-bg;
            }
        }
        #MandA{
            .section-control{
                background-color: $check-bg;
            }
        }
        #Data{
            .section-control{
                background-color: $blue-bg;
            }
        }
        .tab-pane{
            .first-section{
                padding-top: 90px;
                padding-bottom: 30px;
                .left-section{
                    text-align: right;
                    img{
                        width: 100%;
                        max-width: 230px;
                    }
                    p{
                        color: $white;
                        font-size: 26px;
                        line-height: 1.3;
                        margin: 35px 0;
                    }
                }
                .right-section{
                    p{
                        color: $white;
                        font-size: 26px;
                        line-height: 1.3;
                        margin: 35px 0;
                    }
                    img{
                        width: 100%;
                        max-width: 230px;
                    }
                }
            }
            .big-second-row{
                background: $lighter-bg;
                .second-row{
                    max-width: 1000px;
                    .box-content{
                        text-align: center;
                        padding-top: 45px;
                        img{
                            max-width: 100px;
                            width: 100%;
                            margin: 0 auto;
                            height: 90px;
                        }
                        h1{
                            font-size: 22px;
                            text-transform: uppercase;
                            font-weight: bold;
                            margin-top: 20px;
                        }
                        p{
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }
                }
                .third-row{
                    margin-top: 30px;
                    flex-direction: row;
                    justify-content: center;
                    .second-title{
                        h1{
                            margin-bottom: 50px;
                            &:after{
                                width: 5%;
                            }
                        }
                    }
                    .product-box{
                        text-align: center;
                        svg{
                            font-size: 60px;
                            color: $check-bg;
                            margin: 25px 0;
                        }
                        h1{
                            font-size: 26px;
                            color: $black;
                            margin-top: 20px;
                            font-weight: 600;
                        }
                        p{
                            font-size: 16px;
                            position: relative;
                        }
                        ul{
                            padding: 0;
                            max-width: 185px;
                            width: 100%;
                            margin: 0 auto;
                            li{
                                text-align: left;
                                float: left;
                                max-width: 90px;
                                width: 100%;
                            }
                        }
                    }
                }
                .fourth-row{
                    max-width: 1000px;
                    .fourth-section{
                        .first-one{
                            padding-top: 45px;
                        }
                        .last-one{
                            padding-top: 45px;
                        }
                        .remove-after{
                            h1{
                                &:after{
                                    display: none;
                                }
                            }
                            margin-bottom: 80px;
                        }
                        .offert{
                            position: absolute;
                            max-width: 100px;
                            width: 100%;
                            right: 0;
                            top: -45px;
                            img{
                                width: 100%;
                                max-width: 100px;
                            }
                        }
                        .prices-select{
                            text-align: center;
                            -webkit-box-shadow: 6px 10px 20px -8px rgba(0,0,0,0.75);
                            -moz-box-shadow: 6px 10px 20px -8px rgba(0,0,0,0.75);
                            box-shadow: 6px 10px 20px -8px rgba(0,0,0,0.75);
                            padding: 25px;
                            max-width: 275px;
                            width: 100%;
                            margin: 0 auto;
                            margin-bottom: 50px;
                            h1{
                                font-size: 28px;
                                color: $black;
                                font-weight: bold;
                            }
                            h3{                              
                                font-size: 26px;
                                color: $check-bg;
                                margin-bottom: 0;
                            }
                            span{
                                color: $grey-text;
                                font-size: 15px;
                            }
                            hr{
                                max-width: 195px;
                                width: 100%;
                                border-top: 2px solid rgba(0,0,0,.1);
                            }
                            p{
                                font-size: 22px;
                                color: $grey-text;
                                font-weight: 600;
                                span{
                                    font-size: 15px;
                                    font-weight: normal;
                                }
                            }
                            h4{
                                font-size: 16px;
                                svg{
                                    margin-right: 5px;
                                    color: $check-bg;
                                }
                            }
                            .blue-btn{
                                background: $blue-bg;
                                margin: 20px 0 0 0;
                            }
                            button{
                                background: $check-bg;
                                color: $white;
                                border-radius: 20px;
                                border: none;
                                box-shadow: none;
                                font-weight: 600;
                                padding: 5px 25px;
                                font-size: 20px;
                                outline: none;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}