.container-navbar{
    background: $background-darker;
    padding: 0 2rem;
    font-family: 'Nunito Sans', sans-serif;
    .menu-Items{
        .active{
            background: $active-white;
            a{
                color: $black;
            }
        }
        li{
            padding: 5px;
            a{
                color: $white;
                font-size: 10px;
                text-transform: uppercase;
            }
        }
    }
    .notify-mess{
        ul{
            li{
                a{
                    font-size: 15px;
                    padding: 4px;
                }
            }
        }
    }
}