.container-topBar{
    font-family: 'Nunito Sans', sans-serif;
    .left-section{
        flex-wrap: wrap;
        display: flex;
        justify-content: flex-start;
        a{
            max-width: 200px;
            width: 100%;
            margin: 15px;
            img{
                width: 100%;
            }
        }
        form{
            max-width: 500px;
            width: 100%;
            position: relative;
            input{
                max-width: 320px;
                width: 100%;
                color: $text-grey;
                outline: none;
                box-shadow: none;
                border: 2px solid $grey-color;
                color: $text-grey;
                margin-left: 30px;
                padding-left: 40px;
                border-radius: 6px;
                &:focus{
                    box-shadow: none;
                    outline: none;
                }
                &::placeholder{
                    color: $text-grey;
                }
            }
            svg{
                position: absolute;
                left: 42px;
                top: 22px;
                color: $grey-color;
            }
            button{
                background: $grey-color;
                color: $text-grey;
                border: none;
                outline: none;
                padding: 4px 10px;
                &:focus{
                    outline: none;
                    box-shadow: none;
                    background: $text-grey;
                    color: $grey-color;
                }
            }
        }
    }
    .right-section{
        .profile-maintenance{
            flex-wrap: wrap;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px;
            h2{
                font-size: 14px;
                margin: 0;
                color: $black;
            }
            .circle-img{
                border-radius: 50%;
                overflow: hidden;
                text-align: center;
                width: 40px;
                height: 40px;
                margin: 0 20px;
                position: relative;
                img{
                    width: 100%;
                }
            }
            a{
                svg{
                    position: absolute;
                    right: 12%;
                    color:$text-grey;
                    top: 30%;
                    font-size: 20px;
                    transform: rotate(0deg);
                    transition: 0.5s ease-in-out;
                }
            }
            a[aria-expanded="true"] svg{
                transform: rotate(180deg);
            }
            .dropdown-menu{
                top: 25px!important;
            }
        }
    }
}