<template>
    <div class="container-fluid container-topBar">
        <div class="row">
            <div class="col-md-10 left-section">
                <a href="#">
                    <img src="../../../public/images/logo.png" alt="logo">
                </a>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Cerca ex. Mario Rossi" aria-label="Search">
                    <i class="fas fa-search"></i>
                    <button class="btn my-2 my-sm-0" type="submit">Cerca</button>
                </form>
            </div>
            <div class="col-md-2 right-section">
                <div class="profile-maintenance">
                    <h2>Eliana Montali</h2>
                    <div class="circle-img">
                        <img src="../../../public/images/Group 371.png" alt="">
                    </div>
                    <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-sort-down"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'TopBar'
}
</script>
