@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
.container {
  max-width: 1300px;
}

.title-holder {
  text-align: center;
}

.title-holder h1 {
  color: #126cad;
  font-size: 28px;
  margin: 30px 0;
  font-weight: 600;
  position: relative;
}

.title-holder h1:after {
  content: '';
  width: 7%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -20px;
  border-width: 0 0 2px;
  border-style: solid;
  border-color: #126cad;
}

.green-title {
  color: #7ba751 !important;
}

.green-title:after {
  border-color: #7ba751 !important;
}

.container-topBar {
  font-family: 'Nunito Sans', sans-serif;
}

.container-topBar .left-section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container-topBar .left-section a {
  max-width: 200px;
  width: 100%;
  margin: 15px;
}

.container-topBar .left-section a img {
  width: 100%;
}

.container-topBar .left-section form {
  max-width: 500px;
  width: 100%;
  position: relative;
}

.container-topBar .left-section form input {
  max-width: 320px;
  width: 100%;
  color: #bebebe;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #ededed;
  color: #bebebe;
  margin-left: 30px;
  padding-left: 40px;
  border-radius: 6px;
}

.container-topBar .left-section form input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.container-topBar .left-section form input::-webkit-input-placeholder {
  color: #bebebe;
}

.container-topBar .left-section form input:-ms-input-placeholder {
  color: #bebebe;
}

.container-topBar .left-section form input::-ms-input-placeholder {
  color: #bebebe;
}

.container-topBar .left-section form input::placeholder {
  color: #bebebe;
}

.container-topBar .left-section form svg {
  position: absolute;
  left: 42px;
  top: 22px;
  color: #ededed;
}

.container-topBar .left-section form button {
  background: #ededed;
  color: #bebebe;
  border: none;
  outline: none;
  padding: 4px 10px;
}

.container-topBar .left-section form button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #bebebe;
  color: #ededed;
}

.container-topBar .right-section .profile-maintenance {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.container-topBar .right-section .profile-maintenance h2 {
  font-size: 14px;
  margin: 0;
  color: #000000;
}

.container-topBar .right-section .profile-maintenance .circle-img {
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

.container-topBar .right-section .profile-maintenance .circle-img img {
  width: 100%;
}

.container-topBar .right-section .profile-maintenance a svg {
  position: absolute;
  right: 12%;
  color: #bebebe;
  top: 30%;
  font-size: 20px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container-topBar .right-section .profile-maintenance a[aria-expanded="true"] svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container-topBar .right-section .profile-maintenance .dropdown-menu {
  top: 25px !important;
}

.container-homepage {
  font-family: 'PT Sans', sans-serif;
}

.container-homepage #myTabContent {
  position: relative;
}

.container-homepage #myTabContent .nav-tabs {
  border: none;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0px 45px;
}

.container-homepage #myTabContent .nav-tabs .nav-item {
  margin-right: 100px;
}

.container-homepage #myTabContent .nav-tabs .nav-item:last-child {
  margin-right: 0;
}

.container-homepage #myTabContent .nav-tabs .nav-item .nav-link {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  color: #fff;
  width: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container-homepage #myTabContent .nav-tabs .nav-item .nav-link:hover {
  border: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container-homepage #myTabContent .nav-tabs .nav-item .nav-link:hover:after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 1px;
  border-width: 0 0 1px;
  border-style: solid;
}

.container-homepage #myTabContent .nav-tabs .nav-item .active {
  border: none;
  background: transparent;
  position: relative;
}

.container-homepage #myTabContent .nav-tabs .nav-item .active:after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 1px;
  border-width: 0 0 1px;
  border-style: solid;
}

.container-homepage #myTabContent #Elite .section-control {
  background-color: #126cad;
}

.container-homepage #myTabContent #trading .section-control {
  background-color: #7ba751;
}

.container-homepage #myTabContent #robo .section-control {
  background-color: #126cad;
}

.container-homepage #myTabContent #MandA .section-control {
  background-color: #7ba751;
}

.container-homepage #myTabContent #Data .section-control {
  background-color: #126cad;
}

.container-homepage #myTabContent .tab-pane .first-section {
  padding-top: 90px;
  padding-bottom: 30px;
}

.container-homepage #myTabContent .tab-pane .first-section .left-section {
  text-align: right;
}

.container-homepage #myTabContent .tab-pane .first-section .left-section img {
  width: 100%;
  max-width: 230px;
}

.container-homepage #myTabContent .tab-pane .first-section .left-section p {
  color: #fff;
  font-size: 26px;
  line-height: 1.3;
  margin: 35px 0;
}

.container-homepage #myTabContent .tab-pane .first-section .right-section p {
  color: #fff;
  font-size: 26px;
  line-height: 1.3;
  margin: 35px 0;
}

.container-homepage #myTabContent .tab-pane .first-section .right-section img {
  width: 100%;
  max-width: 230px;
}

.container-homepage #myTabContent .tab-pane .big-second-row {
  background: #fafafa;
}

.container-homepage #myTabContent .tab-pane .big-second-row .second-row {
  max-width: 1000px;
}

.container-homepage #myTabContent .tab-pane .big-second-row .second-row .box-content {
  text-align: center;
  padding-top: 45px;
}

.container-homepage #myTabContent .tab-pane .big-second-row .second-row .box-content img {
  max-width: 100px;
  width: 100%;
  margin: 0 auto;
  height: 90px;
}

.container-homepage #myTabContent .tab-pane .big-second-row .second-row .box-content h1 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

.container-homepage #myTabContent .tab-pane .big-second-row .second-row .box-content p {
  font-size: 15px;
  font-weight: 500;
}

.container-homepage #myTabContent .tab-pane .big-second-row .third-row {
  margin-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-homepage #myTabContent .tab-pane .big-second-row .third-row .second-title h1 {
  margin-bottom: 50px;
}

.container-homepage #myTabContent .tab-pane .big-second-row .third-row .second-title h1:after {
  width: 5%;
}

.container-homepage #myTabContent .tab-pane .big-second-row .third-row .product-box {
  text-align: center;
}

.container-homepage #myTabContent .tab-pane .big-second-row .third-row .product-box svg {
  font-size: 60px;
  color: #7ba751;
  margin: 25px 0;
}

.container-homepage #myTabContent .tab-pane .big-second-row .third-row .product-box h1 {
  font-size: 26px;
  color: #000000;
  margin-top: 20px;
  font-weight: 600;
}

.container-homepage #myTabContent .tab-pane .big-second-row .third-row .product-box p {
  font-size: 16px;
  position: relative;
}

.container-homepage #myTabContent .tab-pane .big-second-row .third-row .product-box ul {
  padding: 0;
  max-width: 185px;
  width: 100%;
  margin: 0 auto;
}

.container-homepage #myTabContent .tab-pane .big-second-row .third-row .product-box ul li {
  text-align: left;
  float: left;
  max-width: 90px;
  width: 100%;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row {
  max-width: 1000px;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .first-one {
  padding-top: 45px;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .last-one {
  padding-top: 45px;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .remove-after {
  margin-bottom: 80px;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .remove-after h1:after {
  display: none;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .offert {
  position: absolute;
  max-width: 100px;
  width: 100%;
  right: 0;
  top: -45px;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .offert img {
  width: 100%;
  max-width: 100px;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .prices-select {
  text-align: center;
  -webkit-box-shadow: 6px 10px 20px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 10px 20px -8px rgba(0, 0, 0, 0.75);
  padding: 25px;
  max-width: 275px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .prices-select h1 {
  font-size: 28px;
  color: #000000;
  font-weight: bold;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .prices-select h3 {
  font-size: 26px;
  color: #7ba751;
  margin-bottom: 0;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .prices-select span {
  color: #9d9d9c;
  font-size: 15px;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .prices-select hr {
  max-width: 195px;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .prices-select p {
  font-size: 22px;
  color: #9d9d9c;
  font-weight: 600;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .prices-select p span {
  font-size: 15px;
  font-weight: normal;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .prices-select h4 {
  font-size: 16px;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .prices-select h4 svg {
  margin-right: 5px;
  color: #7ba751;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .prices-select .blue-btn {
  background: #126cad;
  margin: 20px 0 0 0;
}

.container-homepage #myTabContent .tab-pane .big-second-row .fourth-row .fourth-section .prices-select button {
  background: #7ba751;
  color: #fff;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 600;
  padding: 5px 25px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.container-navbar {
  background: #2b3645;
  padding: 0 2rem;
  font-family: 'Nunito Sans', sans-serif;
}

.container-navbar .menu-Items .active {
  background: #e7e9ef;
}

.container-navbar .menu-Items .active a {
  color: #000000;
}

.container-navbar .menu-Items li {
  padding: 5px;
}

.container-navbar .menu-Items li a {
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
}

.container-navbar .notify-mess ul li a {
  font-size: 15px;
  padding: 4px;
}

.bottomNav-container {
  font-family: 'Nunito Sans', sans-serif;
}

.bottomNav-container .sections {
  border-right: 1px solid #cccccc;
  margin: 5px 0;
}

.bottomNav-container .sections:last-child {
  border: none;
}

.bottomNav-container .sections .content span {
  font-size: 12px;
  width: 50%;
  display: inline-block;
  overflow: hidden;
}

.bottomNav-container .sections .content span:nth-child(2), .bottomNav-container .sections .content span:nth-child(4) {
  text-align: right;
}

.bottomNav-container .sections .content span:nth-child(1), .bottomNav-container .sections .content span:nth-child(2) {
  font-weight: 500;
}

.bottomNav-container .sections .content .danger-err {
  color: #fc4d6b;
}

.bottomNav-container .sections .content .success-err {
  color: #48bb9b;
}
/*# sourceMappingURL=main.css.map */