<template>
  <div>
    <div class="offert">
      <img src="../../../public/images/star.png" alt="star">
    </div>
    <div class="prices-select">
        <h1>Completo</h1>
        <h3>Gratuito</h3>
        <span>se apri un conto un nostro broker</span>
        <hr>
        <h4><i class="fas fa-check"></i>Tutte le opzioni</h4>
        <h4><i class="fas fa-check"></i>Segnali</h4>
        <h4><i class="fas fa-check"></i>Analisi</h4>
        <h4><i class="fas fa-check"></i>Roboadvisor</h4>
        <h4><i class="fas fa-check"></i>Trading System</h4>
        <button class="blue-btn">Passa a premium</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Price'
}
</script>
