<template>
    <div>
        <div class="container-fluid section-control">
            <div class="row first-section">
                <div class="col-md-6 left-section">
                    <p>We work with artificial intelligence. <br>
                        You should work with <br>
                        our roboadvisor. Our time matters.</p>
                </div>
                <div class="col-md-6 right-section">
                    <img src="../../../public/images/city.png" alt="">
                </div>
            </div>
        </div>
        <div class="container-fluid big-second-row">
            <div class="container second-row">
                <div class="row">
                    <div class="col-md-12 title-holder">
                        <h1 class="green-title">Caratteristiche</h1>
                    </div>
                    <div class="col-md-4 box-content" v-for="(ma, index) in MandAData.features" :key="index">
                        <img :src="'../../images/' + ma.img" alt="maze">
                        <h1>{{ma.title}}</h1>
                        <p v-html="ma.description">{{ma.description}}</p>
                    </div>
                </div>
            </div>
            <div class="row third-row">
                <div class="title-holder second-title col-md-12">
                    <h1>Prodotti</h1>
                </div>
                <div class="col-md-4 product-box" v-for="(ma, index) in MandAData.products" :key="index">
                    <i class="fas fa-check"></i>
                    <h1>{{ma.title}}</h1>
                </div>
            </div>
            <div class="container fourth-row">
                <div class="row fourth-section">
                    <div class="title-holder remove-after col-md-12">
                        <h1>Scegli il piano piu adatto a te</h1>
                    </div>
                    <div class="col-md-4 first-one">
                        <div class="prices-select">
                            <h1>Elite Analysis <br>
                                e Trading System
                            </h1>
                            <hr>
                            <p>&euro; 149 <span>al mese</span></p>
                            <button>Passa a premium</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <Price />
                    </div>
                    <div class="col-md-4 last-one">
                        <div class="prices-select">
                            <h1>Instituzionale</h1>
                            <hr>
                            <p>Su richiesta</p>
                            <button>Passa a premium</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Price from '../price/price'
import mandadata from '../../mock-data/m&a.json'
export default {
  name: 'MandA',
  components: {
    Price
  },
  data () {
    return {
      MandAData: {
        features: [],
        products: []
      }
    }
  },
  mounted () {
    this.MandAData = mandadata
  }
}
</script>
