<template>
    <div>
        <div class="container-fluid section-control">
            <div class="row first-section">
                <div class="col-md-5 left-section">
                    <p>We work with artificial intelligence. <br>
                        You should work with <br>
                        our roboadvisor. Our time matters.</p>
                </div>
                <div class="col-md-7 right-section">
                    <img src="../../../public/images/dollar-green.png" alt="">
                </div>
            </div>
        </div>
        <div class="container-fluid big-second-row">
            <div class="container second-row">
                <div class="row">
                    <div class="col-md-12 title-holder">
                        <h1>Caratteristiche</h1>
                    </div>
                    <div class="col-md-6 box-content" v-for="(ra, index) in roboData.features" :key="index">
                        <img :src="'../../images/' + ra.img" alt="maze">
                        <h1>{{ra.title}}</h1>
                        <p v-html="ra.description">{{ra.description}}</p>
                    </div>
                </div>
            </div>
            <div class="row third-row">
                <div class="title-holder second-title col-md-12">
                    <h1>Approccio</h1>
                </div>
                <div class="col-md-12 product-box">
                    <h5>La selezione</h5>
                    <p>L’approccio operativo è volto a sfruttare la selezione degli strumenti da inserire in <br>
                    portfolio sulla base di un’analisi combinata, aggregata, aggiornata e completa; il processo <br>
                    di selezione si divide in due fasi:</p>
                </div>
                <div class="col-md-3 product-box" v-for="(ra, index) in roboData.approach" :key="index">
                    <i class="fas fa-check"></i>
                    <h1>{{ra.title}}</h1>
                    <p v-html="ra.description">{{ra.description}}</p>
                </div>
            </div>
            <div class="container fourth-row">
                <div class="row fourth-section">
                    <div class="title-holder remove-after col-md-12">
                        <h1>Scegli il piano più adatto a te</h1>
                    </div>
                    <div class="col-md-4 first-one">
                        <div class="prices-select">
                            <h1>Elite Analysis <br>
                                e Trading System
                            </h1>
                            <hr>
                            <p>&euro; 149 <span>al mese</span></p>
                            <button>Passa a premium</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <Price />
                    </div>
                    <div class="col-md-4 last-one">
                        <div class="prices-select">
                            <h1>Instituzionale</h1>
                            <hr>
                            <p>Su richiesta</p>
                            <button>Passa a premium</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Price from '../price/price'
import robodata from '../../mock-data/robo.json'
export default {
  name: 'Roboadvisor',
  components: {
    Price
  },
  data () {
    return {
      roboData: {
        feattures: [],
        approach: []
      }
    }
  },
  mounted () {
    this.roboData = robodata
  }
}
</script>
