<template>
    <nav class="navbar navbar-expand-lg container-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto menu-Items">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="Community" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Community
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Community">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    </div>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Markets</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Signals</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Trading system</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Robo advisor</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Morningstar</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Economic calendar</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Meta trader</a>
                </li>
            </ul>
            <div class="notify-mess">
                <ul class="navbar-nav menu-Items">
                    <li class="nav-item ">
                        <a href="#" class="nav-link">
                            <i class="fas fa-bell"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <i class="far fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
  name: 'NavBar'
}
</script>
