<template>
    <div>
        <div class="container-fluid section-control">
            <div class="row first-section">
                <div class="col-md-4 left-section">
                    <img src="../../../public/images/chart-blue.png" alt="">
                </div>
                <div class="col-md-8 right-section">
                    <p>We enable all investors to <br>
                    trade with timely, aggregated, <br>
                    and complete informations
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid big-second-row">
            <div class="container second-row">
                <div class="row">
                    <div class="col-md-12 title-holder">
                        <h1>Caratteristiche</h1>
                    </div>
                    <div class="col-md-6 box-content" v-for="(ed, index) in eliteData.features" :key="index">
                        <img :src="'../../images/' + ed.img" alt="maze">
                        <h1>{{ed.title}}</h1>
                        <p v-html="ed.description">{{ed.description}}</p>
                    </div>
                </div>
            </div>
            <div class="row third-row">
                <div class="title-holder second-title col-md-12">
                    <h1>Prodotti</h1>
                </div>
                <div class="col-md-3 product-box" v-for="(ed, index) in eliteData.products" :key="index">
                    <i class="fas fa-check"></i>
                    <h1>{{ed.title}}</h1>
                    <p v-html="ed.description">{{ed.description}}</p>
                </div>
            </div>
            <div class="container fourth-row">
                <div class="row fourth-section">
                    <div class="title-holder remove-after col-md-12">
                        <h1>Scegli il piano piu adatto a te</h1>
                    </div>
                    <div class="col-md-4 first-one">
                        <div class="prices-select">
                            <h1>Elite Analysis <br>
                                e Trading System
                            </h1>
                            <hr>
                            <p>&euro; 149 <span>al mese</span></p>
                            <button>Passa a premium</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <Price />
                    </div>
                    <div class="col-md-4 last-one">
                        <div class="prices-select">
                            <h1>Instituzionale</h1>
                            <hr>
                            <p>Su richiesta</p>
                            <button>Passa a premium</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Price from '../price/price'
import elitedata from '../../mock-data/elite.json'
export default {
  name: 'Elite',
  components: {
    Price
  },
  data () {
    return {
      eliteData: {
        features: [],
        products: []
      }
    }
  },
  mounted () {
    this.eliteData = elitedata
  }
}
</script>
