<template>
    <div>
        <div class="container-fluid section-control">
            <div class="row first-section">
                <div class="col-md-4 left-section">
                    <img src="../../../public/images/green-logo.png" alt="green">
                </div>
                <div class="col-md-8 right-section">
                    <p>Consentiamo a tutti i trader di operare con <br>
                    strumenti avanzati fintech al fine di migliorare le <br>
                    performance minimizzando il rischio.
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid big-second-row">
            <div class="container second-row">
                <div class="row">
                    <div class="col-md-12 title-holder">
                        <h1 class="green-title">Caratteristiche</h1>
                    </div>
                    <div class="col-md-4 box-content" v-for="(dt, index) in myData.features" :key="index">
                        <img :src="'../../images/' + dt.img" alt="arrow">
                        <h1>{{dt.title}}</h1>
                        <p v-html="dt.description">{{dt.description}}</p>
                    </div>
                </div>
            </div>
            <div class="row third-row">
                <div class="title-holder second-title col-md-12">
                    <h1 class="green-title">Prodotti</h1>
                </div>
                <div class="col-md-4 product-box" v-for="(dt, index) in myData.products" :key="index">
                    <i class="fas fa-check"></i>
                    <h1>{{dt.title}}</h1>
                    <p v-html="dt.description">{{dt.descriptiom}}</p>
                </div>
            </div>
            <div class="container fourth-row">
                <div class="row fourth-section">
                    <div class="title-holder remove-after col-md-12">
                        <h1>Scegli il piano piu adatto a te</h1>
                    </div>
                    <div class="col-md-4 first-one">
                        <div class="prices-select">
                            <h1>Singolo</h1>
                            <hr>
                            <h4><i class="fas fa-check"></i>Tutte le opzioni</h4>
                            <h4><i class="fas fa-check"></i>Segnali</h4>
                            <h4><i class="fas fa-check"></i>Analisi</h4>
                            <h4><i class="fas fa-check"></i>Roboadvisor</h4>
                            <h4><i class="fas fa-check"></i>Trading System</h4>
                            <button>Passa a premium</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <Price />
                    </div>
                    <div class="col-md-4 last-one">
                        <div class="prices-select">
                            <h1>Instituzionale</h1>
                            <hr>
                            <p>Su richiesta</p>
                            <button>Passa a premium</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Price from '../price/price'
import mockRes from '../../mock-data/trading.json'
export default {
  name: 'Trading',
  components: {
    Price
  },
  data () {
    return {
      myData: {
        features: [],
        products: []
      }
    }
  },
  mounted () {
    this.myData = mockRes
  }
}
</script>
