<template>
  <div id="app">
    <TopBar/>
    <NavBar/>
    <BottomNav />
    <HomePage/>
  </div>
</template>

<script>
import HomePage from './components/homepage/HomePage.vue'
import NavBar from './components/navbar/NavBar'
import TopBar from './components/topbar/TopBar'
import BottomNav from './components/bottom-nav/BottomNav'
import './assets/css/main.css'

export default {
  name: 'app',
  components: {
    NavBar,
    TopBar,
    BottomNav,
    HomePage
  }
}
</script>
