// color variables
$grey-color : #ededed;
$text-grey: #bebebe;
$black: #000000;
$background-darker: #2b3645;
$white: #fff;
$active-white: #e7e9ef;
$danger: #fc4d6b;
$success: #48bb9b;
$grey-border:#cccccc;
$blue-bg: #126cad;
$lighter-bg: #fafafa;
$check-bg: #7ba751;
$grey-text: #9d9d9c;
// fonts
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
// classes
.container{
    max-width: 1300px;
}
.title-holder{
    text-align: center;
    h1{
        color: $blue-bg;
        font-size: 28px;
        margin: 30px 0;
        font-weight:600;
        position: relative;
        &:after {
            content: '';
            width: 7%;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -20px;
            border-width: 0 0 2px;
            border-style: solid;
            border-color: $blue-bg;
        }
    }
}
.green-title{
    color: $check-bg!important;
    &:after{
        border-color: $check-bg!important;
    }
}
// Pages import
@import 'Pages/topBar';
@import 'Pages/homepage';
@import 'Pages/navbar';
@import 'Pages/bottomNav';